  

/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #161616;
    padding: 15px;
    display: flex;
    align-items: bottom;
    justify-content: space-between;
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
  }
  
  ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav li input {
    border-radius:15px ;
  }
  ::placeholder {
    color: #69a1b7;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: normal;
    font-family:Tahoma;
  }
  
  /* Basic CSS for the form elements */
  body {
    height: 100vh;
    overflow: hidden; 
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    background-image: url("IMG_1964.JPG");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #GradientPane {
    display: flex;
    flex-direction: row;
    height: 100dvh;
    width: 100%;    
    background-image: linear-gradient(to right,rgba(25, 49, 58, 0.9),rgba(25, 49, 58, 0.0) 60%);
    color:white;
    padding: 20px;
  }
  
  #MediaList {
    float: left;
    margin-left: 5%;
    padding-top: 15%;    
    align-items:right;
  }
  .vertical-line {
    width: 2px; /* Adjust width as desired */
    height: 150px; /* Make the line span the full height of the container */
    border-style: solid;
    border-color:white; /* Or any desired color */
    border-width: 0 0 0 1px; /* Only left border is visible */
    /* display: inline-block; Allows for height and width to be applied */
    margin-left: 12px;
  }
  #MediaList ul{
    margin-top: 80px;
  }
  #MediaList ul li {
    display:block;
    margin-top: 20px;
    height: 20px;
    width: 20px;
  }
  #MediaList ul li img{
    height: 25px;
    width: 25px;
  } 
  #textPane {
    width: 40%;
    margin-top: 280px;
    margin-left: 8%;
 }
 .container h1 {
    font: size 50px;
    font-weight: 800;
    text-transform:uppercase;
  }
  #textPane p {
    margin-top: 15%;
    line-height: 1.5em;
    
  }
  #textPane button {
    margin-top: 15%;
    text-transform:uppercase;
  }

  #displayPane {
    width: 50%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
  }

 #displayPane ul li {
    display: flex;
    gap: 10px;
    align-items: right;
  }
  
  .recommendation {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: auto;
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.7);
}

.recommendation img {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.recommendation h4 ,
.recommendation p {
    margin: 5px 0;
    color:#161616;
    width: 100%;
    max-width: 400px;
    padding: 5px;
}

 #aboutPane {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    background-color:rgba(25, 49, 58, 0.4) ;
  }
  #aboutPane ul {
    padding-top: 100px;
    display: flex;
    align-items: bottom;
    justify-content: space-between;
    color: white;
  }
  #aboutPane ul li {
    display:inline-block;
    margin-right: 10px;
    width: 150px;
    position: center;
  }

  .member img {
    width: 150px; 
    border-radius: 10px;   
  }
  #contactPane {
    margin-top: 320px;
    margin-left: 15%;
    max-width: 70%;
 }

 #contactPane ul{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    gap:10px;
    color: white;
  }
  #contactPane ul li{
    display:inline-block;
    flex: 1 1 auto; /* Allow flexibility, minimum width of 300px */
    max-width: 500px;
  }
  #contactPane input,
  #contactPane textarea {
    width:100%;
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    padding: 8px;
    color:white;
  }
  #contactPane button{
    width:100%;
  }
  #inputPane {
    background-color:rgba(25, 49, 58, 0.4) ;
    padding: 5px;
  }

  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #2c6981;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #69a1b7;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }
  