  

/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #161616;
    padding: 15px;
    display: flex;
    align-items: bottom;
    justify-content: space-between;
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
  }
  
  ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav li input {
    border-radius:15px ;
  }
  ::placeholder {
    color: #69a1b7;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: normal;
    font-family:Tahoma;
  }
  
  /* Basic CSS for the form elements */
  body {
    height: 100vh;
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    background-image: url("IMG_1964.JPG");
    background-repeat: no-repeat;
    background-size:cover;
    
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #GradientPane {
    float:left;
    height: 100dvh;
    width: 100%;    
    background-image: linear-gradient(to right,rgba(25, 49, 58, 0.9),rgba(25, 49, 58, 0.0) 45%);
    color:white;
  }
  #MediaList {
    float: left;
    margin-left: 5%;
    padding-top: 15%;    
    align-items:center;
  }
  .vertical-line {
    width: 2px; /* Adjust width as desired */
    height: 200px; /* Make the line span the full height of the container */
    border-style: solid;
    border-color:white; /* Or any desired color */
    border-width: 0 0 0 1px; /* Only left border is visible */
    /* display: inline-block; Allows for height and width to be applied */
  }
  #MediaList ul{
    margin-top: 50px;
  }
  #MediaList ul li {
    display:block;
    margin-top: 20px;
    height: 20px;
    width: 20px;
  }
  #MediaList ul li img{
    height: 20px;
    width: 20px;
  } 
  #textPane {
    width: 45%;
    margin-top: 45%;
    margin-left: 20%;
 }
 #textPane h1 {
    font: size 50px;
    font-weight: 800;
    text-transform:uppercase;
  }
  #textPane p {
    margin-top: 15%;
    line-height: 1.5em;;
  }
  #textPane button {
    margin-top: 15%;
    text-transform:uppercase;
  }
  #aboutPane {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
  }
  #aboutPane h1 {
    font: size 50px;
    font-weight: 800;
    text-transform:uppercase;
  }
  #teamInfo ul li {
    display:inline-block;
    margin-right: 10px;
    width: 100px;
    height: 100px;
  }
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #2c6981;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #69a1b7;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }
  